In [1]:
import pandas as pd 
import numpy as np 
import math

In [37]:
regressors = pd.read_csv('multiple_regressors.txt',sep='\t',header = None)
regressors

            0         1         2         3    4    5    6    7   8
0    0.448426  0.893820 -0.597828  0.801624  0.0  0.0  0.0  0.0 NaN
1    0.996995  0.077466  0.987998  0.154467  0.0  0.0  0.0  0.0 NaN
2    0.701102 -0.713061 -0.016911 -0.999857  0.0  0.0  0.0  0.0 NaN
3   -0.630797 -0.775948 -0.204190  0.978931  0.0  0.0  0.0  0.0 NaN
4   -0.765297 -0.643678  0.171358  0.985209  0.0  0.0  0.0  0.0 NaN
..        ...       ...       ...       ...  ...  ...  ...  ...  ..
395  0.394410 -0.918935 -0.688882 -0.724874  0.0  0.0  0.0  0.0 NaN
396 -0.572887 -0.819635 -0.343601  0.939116  0.0  0.0  0.0  0.0 NaN
397 -0.788435 -0.615118  0.243259  0.969961  0.0  0.0  0.0  0.0 NaN
398 -0.887918  0.460001  0.576797 -0.816887  0.0  0.0  0.0  0.0 NaN
399 -0.582145  0.813085 -0.322215 -0.946666  0.0  0.0  0.0  0.0 NaN

[400 rows x 9 columns]

In [38]:
for i in range(4):
    regressors[i].to_csv('reg_physio'+ str(i) +'.txt', header=None, index=None, sep='\t', mode='a')